.SearchItem{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;

}
.searchItemImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.searchItemDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}


.searchItemTitle{
    font-size: 20px;
    color: #0071c2;

}
.searchItemDistance{
    font-size: 12px;

}

.searchItemTaxi{
    font-size: 12px;
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;

}
.searchItemSubtitle{
    font-size: 12px;
    font-weight: bold;
}

.searchItemFeatures{
    font-size: 12px;

}

.searchItemCancel{
    font-weight: bold;
    font-size: 12px;
    color: #008009;
}

.isCancel{

    font-size: 12px;
    color: #008009;
}



.searchItemDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.searchItemRating{
    display: flex;
    justify-content: space-between;
}
.searchItemRating>span{
    font-weight: 500;

}
.searchItemRating>button{
    background-color: #003580;
    color: white;
    padding: 5px;
    border: none;
    font-weight: bold;
}
.searchItemDetailText{
 text-align: right;
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.searchItemPrice{
    font-size: 24px;
}
.searchItemTax{
    font-size: 12px;
    color: gray;
}
.siButton{
    border: none;
    background-color: #0071c2;
    font-weight: bold;
    color: white;
    padding: 10px 5px;
    cursor: pointer;
}